{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>مدیر</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
{#<link href="{% static 'static_admin/fonts.googleapis.com/css@family=open+sans_3a400,300,600,700&subset=all.css' %}" rel="stylesheet" type="text/css"/>#}
<link href="{% static 'static_admin/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
<link href="{% static 'static_admin/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/plugins/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/plugins/jqvmap/jqvmap/jqvmap.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css' %}" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL PLUGIN STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="{% static 'static_admin/css/style-metronic.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/css/style.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/css/style-responsive.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/css/plugins.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/css/pages/tasks.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/css/themes/default.css' %}" rel="stylesheet" type="text/css" id="style_color"/>
<link href="{% static 'static_admin/css/print.css' %}" rel="stylesheet" type="text/css" media="print"/>
<link href="{% static 'static_admin/css/custom.css' %}" rel="stylesheet" type="text/css"/>
 <link href="{% static 'css/custom-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/font_fa.css' %}" rel="stylesheet" type="text/css"/>
<link rel="shortcut icon" href="favicon.ico.jpg"/>
</head>
<body class="page-header-fixed font">
  <div class="header navbar navbar-fixed-top">
	<div class="header-inner">
		<a class="navbar-brand pull-right" href="index.html">
			<img src="{% static 'static_admin/img/logo.jpg' %}" alt="logo" class="img-responsive">
		</a>

		<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<img src="{% static 'static_admin/img/menu-toggler.png' %}" alt="">
		</a>
        <ul class="nav navbar-nav pull-left ">
			<li class="dropdown user">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<img alt="" src="{% static 'static_admin/img/avatar.jpg' %}">
					<span class="username">
						golestani
					</span>
					<i class="fa fa-angle-down"></i>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="extra_profile.html" >
                            &nbsp;&nbsp;
							<i class="fa fa-user "></i>&nbsp;&nbsp; پروفایل من
						</a>
					</li>
					<li>
						<a href="page_calendar.html">
                            &nbsp;&nbsp;
							<i class="fa fa-calendar"></i>&nbsp;&nbsp; تقویم کاری
						</a>
					</li>
					<li>
						<a href="inbox.html" >&nbsp;&nbsp;
							<span class="badge badge-danger ">
								 3
							</span>
                            <i class="fa fa-envelope"></i>&nbsp;&nbsp; صندوق دریافتی
						</a>
					</li>
					<li>
						<a href="#">&nbsp;&nbsp;
							<i class="fa fa-tasks"></i>&nbsp;&nbsp;
                            کارهای من

							<span class="badge badge-success">
								 7
							</span>
						</a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="javascript:;" id="trigger_fullscreen">&nbsp;&nbsp;
							<i class="fa fa-arrows"></i>&nbsp;&nbsp;
                            تمام صفحه
						</a>
					</li>
					<li>
						<a href="extra_lock.html">&nbsp;&nbsp;
							<i class="fa fa-lock"></i>&nbsp;&nbsp;
                            قفل صفحه
						</a>
					</li>
					<li>
						<a href="login.html">&nbsp;&nbsp;
							<i class="fa fa-key"></i> &nbsp;&nbsp; خروج
						</a>
					</li>
				</ul>
			</li>

			<li class="dropdown" id="header_notification_bar">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="fa fa-warning"></i>
					<span class="badge">
						 6
					</span>
				</a>
				<ul class="dropdown-menu extended notification font">
					<li>
						<p>
				کارهای انجام نشده
						</p>
					</li>
					<li>
						<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;"><ul class="dropdown-menu-list scroller" style="height: 250px; overflow: hidden; width: auto;">
							<li>
								<a href="#">
									<span class="label label-sm label-icon label-success">
										<i class="fa fa-plus"></i>
									</span>&nbsp;&nbsp;&nbsp;
									 کاربرانی که تازه ثبت نام کرده اند.
									&nbsp;<span class="time">
										 هم اکنون
									</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="label label-sm label-icon label-danger">
										<i class="fa fa-bolt"></i>
									</span>&nbsp;&nbsp;&nbsp;
									 6 محصول برای خرید سفارش شده.
									&nbsp;<span class="time">
										 15 دقیقه پیش
									</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="label label-sm label-icon label-warning">
										<i class="fa fa-bell-o"></i>
									</span>&nbsp;&nbsp;&nbsp;
									30 خبر تازه.
									&nbsp;<span class="time">
										  یک روز پیش
									</span>
								</a>
							</li>

						</ul><div class="slimScrollBar" style="background-color: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>
					</li>

				</ul>
			</li>

			<li class="dropdown" id="header_inbox_bar">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="fa fa-envelope"></i>
					<span class="badge">
						 5
					</span>
				</a>
				<ul class="dropdown-menu extended inbox">
					<li>
						<p>
							 پیام های دریافتی شما
						</p>
					</li>
					<li>
						<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;"><ul class="dropdown-menu-list scroller" style="height: 250px; overflow: hidden; width: auto;">
							<li>
								<a href="inbox.html@a=view.htm">
									<span class="photo">
										<img src="static/img/avatar2.jpg" alt="">
									</span>
									<span class="subject">
										<span class="from">
											گلستانی
										</span>
										<span class="time">
											 هم اکنون
										</span>
									</span>
									<span class="message">
										 00000000000000000000000000000000000000
									</span>
								</a>
							</li>
							<li>
								<a href="inbox.html@a=view.htm">
									<span class="photo">
										<img src="static/img/avatar2.jpg" alt="">
									</span>
									<span class="subject">
										<span class="from">
											گلستانی
										</span>
										<span class="time">
											 هم اکنون
										</span>
									</span>
									<span class="message">
										 00000000000000000000000000000000000000
									</span>
								</a>
							</li>
							<li>
								<a href="inbox.html@a=view.htm">
									<span class="photo">
										<img src="static/img/avatar2.jpg" alt="">
									</span>
									<span class="subject">
										<span class="from">
											گلستانی
										</span>
										<span class="time">
											 هم اکنون
										</span>
									</span>
									<span class="message">
										 00000000000000000000000000000000000000
									</span>
								</a>
							</li>
							<li>
								<a href="inbox.html@a=view.htm">
									<span class="photo">
										<img src="static/img/avatar2.jpg" alt="">
									</span>
									<span class="subject">
										<span class="from">
											گلستانی
										</span>
										<span class="time">
											 هم اکنون
										</span>
									</span>
									<span class="message">
										 00000000000000000000000000000000000000
									</span>
								</a>
							</li>
							<li>
								<a href="inbox.html@a=view.htm">
									<span class="photo">
										<img src="static/img/avatar2.jpg" alt="">
									</span>
									<span class="subject">
										<span class="from">
											گلستانی
										</span>
										<span class="time">
											 هم اکنون
										</span>
									</span>
									<span class="message">
										 00000000000000000000000000000000000000
									</span>
								</a>
							</li>
						</ul><div class="slimScrollBar" style="background-color: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>
					</li>

				</ul>
			</li>
		</ul>
	</div>
  </div>
   <div class="clearfix">
   </div>
   <div class="page-container">
    <div class="page-sidebar-wrapper">
		<div class="page-sidebar navbar-collapse collapse">
			<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
				<li class="sidebar-toggler-wrapper">
					<div class="sidebar-toggler hidden-phone">
					</div>
				</li>
				<li class="sidebar-search-wrapper">
					<form class="sidebar-search" action="extra_search.html" method="POST">
						<div class="form-container">
							<div class="input-box">
								<a href="javascript:;" class="remove">
								</a>
								<input type="text" placeholder="جستجو...">
								<input type="button" class="submit" value=" ">
							</div>
						</div>
					</form>
				</li>
				<li class="start  ">
					<a href="index.html">
						<i class="fa fa-home"></i>
						<span class="title">
							صفحه اصلی
						</span>
						<span class="selected">
						</span>
					</a>
				</li>

				<li class="active">
					<a href="javascript:;" >
						<i class="fa fa-sitemap"></i>
						<span class="title ">
						اخبار
						</span>
						<span class="arrow ">
						</span>
					</a>
					<ul class="sub-menu">
						<li>
							<a href="page_portfolio.html">
								<i class="fa fa-rss"></i>
								<span class="badge badge-warning badge-roundless">
									جدید
								</span>
							دریافتی rss
							</a>
						</li>

						<li>
							<a href="page_blog_item.html">&nbsp;&nbsp;&nbsp;
								<i class="fa fa-font"></i>
								اخبار دستی
							</a>
						</li>

					</ul>
				</li>

			</ul>

		</div>
    </div>
    <div class="page-content-wrapper ">
        <div class="page-content">
            <div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title font">
					مدیریت اخبار
					</h3>
					<ul class="page-breadcrumb breadcrumb">
						<li>
							<i class="fa fa-home"></i>
							<a href="index.html">
							  صفحه اصلی
							</a>
							<i class="fa fa-angle-left"></i>
						</li>
						<li>
							<a href="#">
								اخبار
							</a>
						</li>
						<li class="pull-right">
							<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
								<i class="fa fa-calendar"></i>
								<span>
								</span>
								<i class="fa fa-angle-down"></i>
							</div>
						</li>
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
                <div class="col-md-6 col-sm-6">
					<div class="portlet box green tasks-widget">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-check"></i>Tasks
							</div>
							<div class="tools">
								<a href="#portlet-config" data-toggle="modal" class="config">
								</a>
								<a href="default.htm" class="reload">
								</a>
							</div>
							<div class="actions">
								<div class="btn-group">
									<a class="btn default btn-xs" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										 More <i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu pull-right">
										<li>
											<a href="#">
												<i class="i"></i> All Project
											</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">
												 AirAsia
											</a>
										</li>
										<li>
											<a href="#">
												 Cruise
											</a>
										</li>
										<li>
											<a href="#">
												 HSBC
											</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">
												 Pending
												<span class="badge badge-important">
													 4
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												 Completed
												<span class="badge badge-success">
													 12
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												 Overdue
												<span class="badge badge-warning">
													 9
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="portlet-body">
							<div class="task-content">
								<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 305px;"><div class="scroller" style="height: 305px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1">
									<!-- START TASK LIST -->
									<ul class="task-list">
										<li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
												<span class="task-title-sp">
													 Present 2013 Year IPO Statistics at Board Meeting
												</span>
												<span class="label label-sm label-success">
													 Company
												</span>
												<span class="task-bell">
													<i class="fa fa-bell-o"></i>
												</span>
											</div>
											<div class="task-config">
												<div class="task-config-btn btn-group">
													<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
														<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
													</a>
													<ul class="dropdown-menu pull-right">
														<li>
															<a href="#">
																<i class="fa fa-check"></i> Complete
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-pencil"></i> Edit
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-trash-o"></i> Cancel
															</a>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
												<span class="task-title-sp">
													 Hold An Interview for Marketing Manager Position
												</span>
												<span class="label label-sm label-danger">
													 Marketing
												</span>
											</div>
											<div class="task-config">
												<div class="task-config-btn btn-group">
													<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
														<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
													</a>
													<ul class="dropdown-menu pull-right">
														<li>
															<a href="#">
																<i class="fa fa-check"></i> Complete
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-pencil"></i> Edit
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-trash-o"></i> Cancel
															</a>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
												<span class="task-title-sp">
													 AirAsia Intranet System Project Internal Meeting
												</span>
												<span class="label label-sm label-success">
													 AirAsia
												</span>
												<span class="task-bell">
													<i class="fa fa-bell-o"></i>
												</span>
											</div>
											<div class="task-config">
												<div class="task-config-btn btn-group">
													<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
														<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
													</a>
													<ul class="dropdown-menu pull-right">
														<li>
															<a href="#">
																<i class="fa fa-check"></i> Complete
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-pencil"></i> Edit
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-trash-o"></i> Cancel
															</a>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
												<span class="task-title-sp">
													 Technical Management Meeting
												</span>
												<span class="label label-sm label-warning">
													 Company
												</span>
											</div>
											<div class="task-config">
												<div class="task-config-btn btn-group">
													<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
														<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
													</a>
													<ul class="dropdown-menu pull-right">
														<li>
															<a href="#">
																<i class="fa fa-check"></i> Complete
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-pencil"></i> Edit
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-trash-o"></i> Cancel
															</a>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
												<span class="task-title-sp">
													 Kick-off Company CRM Mobile App Development
												</span>
												<span class="label label-sm label-info">
													 Internal Products
												</span>
											</div>
											<div class="task-config">
												<div class="task-config-btn btn-group">
													<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
														<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
													</a>
													<ul class="dropdown-menu pull-right">
														<li>
															<a href="#">
																<i class="fa fa-check"></i> Complete
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-pencil"></i> Edit
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-trash-o"></i> Cancel
															</a>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
												<span class="task-title-sp">
													 Prepare Commercial Offer For SmartVision Website Rewamp
												</span>
												<span class="label label-sm label-danger">
													 SmartVision
												</span>
											</div>
											<div class="task-config">
												<div class="task-config-btn btn-group">
													<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
														<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
													</a>
													<ul class="dropdown-menu pull-right">
														<li>
															<a href="#">
																<i class="fa fa-check"></i> Complete
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-pencil"></i> Edit
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-trash-o"></i> Cancel
															</a>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
												<span class="task-title-sp">
													 Sign-Off The Comercial Agreement With AutoSmart
												</span>
												<span class="label label-sm label-default">
													 AutoSmart
												</span>
												<span class="task-bell">
													<i class="fa fa-bell-o"></i>
												</span>
											</div>
											<div class="task-config">
												<div class="task-config-btn btn-group">
													<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
														<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
													</a>
													<ul class="dropdown-menu pull-right">
														<li>
															<a href="#">
																<i class="fa fa-check"></i> Complete
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-pencil"></i> Edit
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-trash-o"></i> Cancel
															</a>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
												<span class="task-title-sp">
													 Company Staff Meeting
												</span>
												<span class="label label-sm label-success">
													 Cruise
												</span>
												<span class="task-bell">
													<i class="fa fa-bell-o"></i>
												</span>
											</div>
											<div class="task-config">
												<div class="task-config-btn btn-group">
													<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
														<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
													</a>
													<ul class="dropdown-menu pull-right">
														<li>
															<a href="#">
																<i class="fa fa-check"></i> Complete
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-pencil"></i> Edit
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-trash-o"></i> Cancel
															</a>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<li class="last-line">
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
												<span class="task-title-sp">
													 KeenThemes Investment Discussion
												</span>
												<span class="label label-sm label-warning">
													 KeenThemes
												</span>
											</div>
											<div class="task-config">
												<div class="task-config-btn btn-group">
													<a class="btn btn-xs default" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
														<i class="fa fa-cog"></i><i class="fa fa-angle-down"></i>
													</a>
													<ul class="dropdown-menu pull-right">
														<li>
															<a href="#">
																<i class="fa fa-check"></i> Complete
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-pencil"></i> Edit
															</a>
														</li>
														<li>
															<a href="#">
																<i class="fa fa-trash-o"></i> Cancel
															</a>
														</li>
													</ul>
												</div>
											</div>
										</li>
									</ul>
									<!-- END START TASK LIST -->
								</div><div class="slimScrollBar" style="background-color: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 265.7857142857143px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>
							</div>
							<div class="task-footer">
								<span class="pull-right">
									<a href="#">
										 See All Tasks <i class="m-icon-swapright m-icon-gray"></i>
									</a>
									 &nbsp;
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

        </div>
    </div>
  </div>













<!--[if lt IE 9]>
<script src="{% static 'static_admin/plugins/respond.min.js' %}"></script>
<script src="{% static 'static_admin/plugins/excanvas.min.js' %}"></script>
<![endif]-->
<script src="{% static 'static_admin/plugins/jquery-1.10.2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{% static 'static_admin/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery.cokie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/jquery.vmap.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/flot/jquery.flot.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/flot/jquery.flot.resize.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/flot/jquery.flot.categories.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery.pulsate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/bootstrap-daterangepicker/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/bootstrap-daterangepicker/daterangepicker.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/gritter/js/jquery.gritter.js' %}" type="text/javascript"></script>
<!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
<script src="{% static 'static_admin/plugins/fullcalendar/fullcalendar/fullcalendar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery.sparkline.min.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'static_admin/scripts/core/app.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/scripts/custom/index.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/scripts/custom/tasks.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {
   App.init(); // initlayout and core plugins
   Index.init();
   Index.initJQVMAP(); // init index page's custom scripts
   Index.initCalendar(); // init index page's custom scripts
   Index.initCharts(); // init index page's custom scripts
   Index.initChat();
   Index.initMiniCharts();
   Index.initDashboardDaterange();
   Index.initIntro();
   Tasks.initDashboardWidget();
});
</script>
</body>

</html>