{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>management</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="{% static 'static_admin/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/plugins/bootstrap/css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
<link href="{% static 'static_admin/plugins/gritter/css/jquery.gritter-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/plugins/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/plugins/jqvmap/jqvmap/jqvmap.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css' %}" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL PLUGIN STYLES -->
<!-- BEGIN THEME STYLES -->
     <link href="{% static 'static_admin/css/font_fa.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/css/style-metronic-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/css/style-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/css/style-responsive-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/css/plugins-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/css/pages/tasks-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static_admin/css/themes/default-rtl.css' %}" rel="stylesheet" type="text/css" id="style_color"/>
<link href="{% static 'static_admin/css/custom-rtl.css' %}" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico.jpg"/>
</head>
<!-- END HEAD -->
<body class="page-header-fixed">
 <div class="header navbar navbar-fixed-top">
	<!-- BEGIN TOP NAVIGATION BAR -->
	<div class="header-inner">
		<!-- BEGIN LOGO -->
		<a class="navbar-brand" href="index.html">
			<img src="{% static 'static_admin/img/logo.png' %}" alt="logo" class="img-responsive">
		</a>
		<!-- END LOGO -->
		<!-- BEGIN RESPONSIVE MENU TOGGLER -->
		<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<img src="{% static 'static_admin/img/menu-toggler.png' %}" alt="">
		</a>
		<!-- END RESPONSIVE MENU TOGGLER -->
		<!-- BEGIN TOP NAVIGATION MENU -->
		<ul class="nav navbar-nav pull-right">
			<!-- BEGIN NOTIFICATION DROPDOWN -->
			<li class="dropdown" id="header_notification_bar">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="fa fa-warning"></i>
					<span class="badge">
						 6
					</span>
				</a>
				<ul class="dropdown-menu extended notification">
					<li>
						<p>
							 6 اتفاق جدید بررسی نشده
						</p>
					</li>
					<li>
						<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;"><ul class="dropdown-menu-list scroller" style="height: 250px; overflow: hidden; width: auto;">
							<li>
								<a href="#">
									<span class="label label-sm label-icon label-success">
										<i class="fa fa-plus"></i>
									</span>
									 چندین کاربر تازه ثبت نام کرده اند.
									<span class="time">
										 هم اکنون
									</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="label label-sm label-icon label-danger">
										<i class="fa fa-bolt"></i>
									</span>
									اخبار rss به مدت یک روز ثبت نشده اند.
									<span class="time">
										15 دقیقه پیش
									</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="label label-sm label-icon label-warning">
										<i class="fa fa-bell-o"></i>
									</span>
									 6 تقاضا برای خرید دارید.
									<span class="time">
										 20 دقیقه پیش
									</span>
								</a>
							</li>

						</ul><div class="slimScrollBar" style="background-color: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; left: 1px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(234, 234, 234); opacity: 0.2; z-index: 90; left: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>
					</li>
					<li class="external">
						<a href="#">
							 دیدن همه اتفاق ها <i class="m-icon-swapright"></i>
						</a>
					</li>
				</ul>
			</li>
			<!-- END NOTIFICATION DROPDOWN -->
			<!-- BEGIN INBOX DROPDOWN -->
			<li class="dropdown" id="header_inbox_bar">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="fa fa-envelope"></i>
					<span class="badge">
						 5
					</span>
				</a>
				<ul class="dropdown-menu extended inbox">
					<li>
						<p>
							 شما 5 پیام دارید
						</p>
					</li>
					<li>
						<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;"><ul class="dropdown-menu-list scroller" style="height: 250px; overflow: hidden; width: auto;">
							<li>
								<a href="inbox.html@a=view.htm">
									<span class="photo">
										<img src="{% static 'static_admin/img/avatar.png' %}" alt="">
									</span>
									<span class="subject">
										<span class="from">
											 امیرمهدی
										</span>
										<span class="time">
											 هم اکنون
										</span>
									</span>
									<span class="message">
										نظرات .............................................
									</span>
								</a>
							</li>
                            <li>
								<a href="inbox.html@a=view.htm">
									<span class="photo">
										<img src="{% static 'static_admin/img/avatar.png' %}" alt="">
									</span>
									<span class="subject">
										<span class="from">
											 امیرمهدی
										</span>
										<span class="time">
											 هم اکنون
										</span>
									</span>
									<span class="message">
										نظرات .............................................
									</span>
								</a>
							</li>
                            <li>
								<a href="inbox.html@a=view.htm">
									<span class="photo">
										<img src="{% static 'static_admin/img/avatar.png' %}" alt="">
									</span>
									<span class="subject">
										<span class="from">
											 امیرمهدی
										</span>
										<span class="time">
											 هم اکنون
										</span>
									</span>
									<span class="message">
										نظرات .............................................
									</span>
								</a>
							</li>


						</ul><div class="slimScrollBar" style="background-color: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; left: 1px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(234, 234, 234); opacity: 0.2; z-index: 90; left: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>
					</li>
					<li class="external">
						<a href="inbox.html">
							 دیدن همه پیام ها <i class="m-icon-swapright"></i>
						</a>
					</li>
				</ul>
			</li>
			<!-- END INBOX DROPDOWN -->

			<!-- BEGIN USER LOGIN DROPDOWN -->
			<li class="dropdown user">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					{% block img_admin %}{% endblock %}
					<span class="username">
						{% block username %}{% endblock %}
					</span>

				</a>

			</li>
			<!-- END USER LOGIN DROPDOWN -->
		</ul>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END TOP NAVIGATION BAR -->
 </div>
 <div class="clearfix">
 </div>
 <div class="page-container ">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<div class="page-sidebar navbar-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->
			<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
				<li class="sidebar-toggler-wrapper">
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone">
					</div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				<li class="sidebar-search-wrapper">
					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					<form class="sidebar-search" action="extra_search.html" method="POST">
						<div class="form-container">
							<div class="input-box">
								<a href="javascript:;" class="remove">
								</a>
								<input type="text" placeholder="جستجو...">
								<input type="button" class="submit" value=" ">
							</div>
						</div>
					</form>
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				</li>
				<li class="start ">
					<a href="index.html">
						<i class="fa fa-home"></i>
						<span class="title">
						خانه
						</span>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="angle-down">
						<i class="fa fa-coffee"></i>
						<span class="title">
							اخبار
						</span>
						<span class="arrow ">
						</span>
					</a>

					<ul class="sub-menu">
						<li>
							<a href="{% url 'myapp.views.admin_news_rss' %}">
								<i class="fa fa-rss"></i>
								اخبار rss
							</a>
						</li>
						<li>
							<a href="{% url 'myapp.views.admin_news_hand' %}">
								<i class="fa fa-magic"></i>
								اخبار دستی
							</a>
						</li>

					</ul>
				</li>


			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content" style="min-height:1049px !important">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">
					<small>{% block describtion %} {% endblock %}</small>
					{% block title %}{% endblock %}</h3>

					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
        <ul class="page-breadcrumb breadcrumb"><li>
							<i class="fa fa-home"></i>
							<a href="index.html">
								خانه
							</a>
							<i class="fa fa-angle-left"></i>
						</li>
						{% block place %}{% endblock %}


					</ul>
         {% block body %}

        {% endblock %}
			<!-- END PAGE CONTENT-->
		</div>
	</div>
	<!-- END CONTENT -->
</div>






















<div class="footer">
	<div class="footer-inner">
		 2014 © این سایت متعلق به گروه bestsaffron است.
	</div>
	<div class="footer-tools">
		<span class="go-top">
			<i class="fa fa-angle-up"></i>
		</span>
	</div>
</div>










<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{% static 'static_admin/plugins/respond.min.js' %}"></script>
<script src="{% static 'static_admin/plugins/excanvas.min.js' %}"></script>
<![endif]-->
<script src="{% static 'static_admin/plugins/jquery-1.10.2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery-migrate-1.2.1.min.js' %}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{% static 'static_admin/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery.cokie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/jquery.vmap.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/flot/jquery.flot.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/flot/jquery.flot.resize.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/flot/jquery.flot.categories.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery.pulsate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/bootstrap-daterangepicker/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/bootstrap-daterangepicker/daterangepicker.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/gritter/js/jquery.gritter.js' %}" type="text/javascript"></script>
<!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
<script src="{% static 'static_admin/plugins/fullcalendar/fullcalendar/fullcalendar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/plugins/jquery.sparkline.min.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'static_admin/scripts/core/app.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/scripts/custom/index.js' %}" type="text/javascript"></script>
<script src="{% static 'static_admin/scripts/custom/tasks.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {    
   App.init(); // initlayout and core plugins
   Index.init();
   Index.initJQVMAP(); // init index page's custom scripts
   Index.initCalendar(); // init index page's custom scripts
   Index.initCharts(); // init index page's custom scripts
   Index.initChat();
   Index.initMiniCharts();
   Index.initDashboardDaterange();
   Index.initIntro();
   Tasks.initDashboardWidget();
});
</script>
<!--ipt type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);
 _gaq.push(['_setDomainName', 'keenthemes.com']);
  _gaq.push(['_setAllowLinker', true]);
   _gaq.push(['_trackPageview']);
    (function() {    var ga = document.createElement('script');
    ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</scri-->
</body>

</html>
