{% extends 'parent/admin_parent.html' %}
{% block title %} مدیریت اخبار {% endblock %}
{% block place %}<i class="fa fa-coffee"></i>
							<a href="index.html">
								اخبار
							</a>
							<i class="fa fa-angle-left"></i>
<i class="fa fa-rss"></i>
							<a href="index.html">
								اخبار rss
							</a>
							<i class="fa fa-angle-left"></i>{% endblock %}
{% block body %}
    <div class="col-md-12 col-sm-12">
					<div class="portlet box grey tasks-widget">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-check"></i>rss های امروز
							</div>

							<div class="actions">
                                <div class="btn-group">
									<a class="btn default btn-xs" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="fa fa-trash-o"></i>
										حذف
									</a>
                                </div>
                                <div class="btn-group">
									<a class="btn default btn-xs" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="fa fa-check"></i>
										افزودن
									</a>
                                </div>
								<div class="btn-group">
									<a class="btn default btn-xs" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
										 بیشتر <i class="fa fa-angle-down"></i>
									</a>
									<ul class="dropdown-menu pull-right">
										<li>
											<a href="#">
												<i class="i"></i> همه rss ها
											</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">
												روز گذشته
											</a>
										</li>
										<li>
											<a href="#">
											هفته گذشته
											</a>
										</li>
										<li>
											<a href="#">
													 انتخاب تاریخ
											</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">
												 ثبت نشده
												<span class="badge badge-important">
													18
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												 بررسی شده
												<span class="badge badge-success">
													 12
												</span>
											</a>
										</li>
										<li>
											<a href="#">
												 نمایش در صفحه
												<span class="badge badge-warning">
													 9
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="portlet-body" style="">
							<div class="task-content">
								<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 305px;"><div class="scroller" style="height: 305px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1">
									<!-- START TASK LIST -->
									<ul class="task-list">
										<li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
                                                <div class="row">
                                                    <div class="col-md-6  col-sm-6">
												<span class="task-title-sp">
													خبر شماره 1
												</span>
                                                </div>
                                                    <div class="col-md-3 col-sm-3">
												<span class="task-bell">

                                                    <a class="btn-danger btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                        بررسی نشده <i class="fa fa-bell-o"></i>
                                                        </a>

												</span>
                                                        </div>

                                                <div class="btn-group">
								             	   <a class="btn default btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                     <i class="fa fa-pencil"></i>
								                             	 ویرایش
							               		   </a>
                                                 </div>

                                                </div>

											</div>


										</li>
                                        <li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
                                                <div class="row">
                                                    <div class="col-md-6  col-sm-6">
												<span class="task-title-sp">
													خبر شماره 1
												</span>
                                                </div>
                                                    <div class="col-md-3 col-sm-3">
												<span class="task-bell">

                                                    <a class="btn-danger btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                        بررسی نشده <i class="fa fa-bell-o"></i>
                                                        </a>

												</span>
                                                        </div>

                                                <div class="btn-group">
								             	   <a class="btn default btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                     <i class="fa fa-pencil"></i>
								                             	 ویرایش
							               		   </a>
                                                 </div>

                                                </div>

											</div>


										</li>
                                        <li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
                                                <div class="row">
                                                    <div class="col-md-6  col-sm-6">
												<span class="task-title-sp">
													خبر شماره 1
												</span>
                                                </div>
                                                    <div class="col-md-3 col-sm-3">
												<span class="task-bell">

                                                    <a class="btn-danger btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                        بررسی نشده <i class="fa fa-bell-o"></i>
                                                        </a>

												</span>
                                                        </div>

                                                <div class="btn-group">
								             	   <a class="btn default btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                     <i class="fa fa-pencil"></i>
								                             	 ویرایش
							               		   </a>
                                                 </div>

                                                </div>

											</div>


										</li>
                                        <li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
                                                <div class="row">
                                                    <div class="col-md-6  col-sm-6">
												<span class="task-title-sp">
													خبر شماره 1
												</span>
                                                </div>
                                                    <div class="col-md-3 col-sm-3">
												<span class="task-bell">

                                                    <a class="btn-danger btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                        بررسی نشده <i class="fa fa-bell-o"></i>
                                                        </a>

												</span>
                                                        </div>

                                                <div class="btn-group">
								             	   <a class="btn default btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                     <i class="fa fa-pencil"></i>
								                             	 ویرایش
							               		   </a>
                                                 </div>

                                                </div>

											</div>


										</li>
                                        <li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
                                                <div class="row">
                                                    <div class="col-md-6  col-sm-6">
												<span class="task-title-sp">
													خبر شماره 1
												</span>
                                                </div>
                                                    <div class="col-md-3 col-sm-3">
												<span class="task-bell">

                                                    <a class="btn-danger btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                        بررسی نشده <i class="fa fa-bell-o"></i>
                                                        </a>

												</span>
                                                        </div>

                                                <div class="btn-group">
								             	   <a class="btn default btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                     <i class="fa fa-pencil"></i>
								                             	 ویرایش
							               		   </a>
                                                 </div>

                                                </div>

											</div>


										</li>
                                        <li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
                                                <div class="row">
                                                    <div class="col-md-6  col-sm-6">
												<span class="task-title-sp">
													خبر شماره 1
												</span>
                                                </div>
                                                    <div class="col-md-3 col-sm-3">
												<span class="task-bell">

                                                    <a class="btn-danger btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                        بررسی نشده <i class="fa fa-bell-o"></i>
                                                        </a>

												</span>
                                                        </div>

                                                <div class="btn-group">
								             	   <a class="btn default btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                     <i class="fa fa-pencil"></i>
								                             	 ویرایش
							               		   </a>
                                                 </div>

                                                </div>

											</div>


										</li>
                                        <li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
                                                <div class="row">
                                                    <div class="col-md-6  col-sm-6">
												<span class="task-title-sp">
													خبر شماره 1
												</span>
                                                </div>
                                                    <div class="col-md-3 col-sm-3">
												<span class="task-bell">

                                                    <a class="btn-danger btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                        بررسی نشده <i class="fa fa-bell-o"></i>
                                                        </a>

												</span>
                                                        </div>

                                                <div class="btn-group">
								             	   <a class="btn default btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                     <i class="fa fa-pencil"></i>
								                             	 ویرایش
							               		   </a>
                                                 </div>

                                                </div>

											</div>


										</li>
                                     <li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
                                                <div class="row">
                                                    <div class="col-md-6  col-sm-6">
												<span class="task-title-sp">
													خبر شماره 1
												</span>
                                                </div>
                                                    <div class="col-md-3 col-sm-3">
												<span class="task-bell">

                                                    <a class="btn-danger btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                        بررسی نشده <i class="fa fa-bell-o"></i>
                                                        </a>

												</span>
                                                        </div>

                                                <div class="btn-group">
								             	   <a class="btn default btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                     <i class="fa fa-pencil"></i>
								                             	 ویرایش
							               		   </a>
                                                 </div>

                                                </div>

											</div>


										</li>
                                     <li>
											<div class="task-checkbox">
												<div class="checker"><span><input type="checkbox" class="liChild" value=""></span></div>
											</div>
											<div class="task-title">
                                                <div class="row">
                                                    <div class="col-md-6  col-sm-6">
												<span class="task-title-sp">
													خبر شماره 1
												</span>
                                                </div>
                                                    <div class="col-md-3 col-sm-3">
												<span class="task-bell">

                                                    <a class="btn-danger btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                        بررسی نشده <i class="fa fa-bell-o"></i>
                                                        </a>

												</span>
                                                        </div>

                                                <div class="btn-group">
								             	   <a class="btn default btn-xs pull-left" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                     <i class="fa fa-pencil"></i>
								                             	 ویرایش
							               		   </a>
                                                 </div>

                                                </div>

											</div>


										</li>


									</ul>
									<!-- END START TASK LIST -->
								</div><div class="slimScrollBar" style="background-color: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; left: 1px; height: 265.7857142857143px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(234, 234, 234); opacity: 0.2; z-index: 90; left: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>
							</div>

						</div>
					</div>
				</div>
    <div class="portlet paddingless">
						<div class="portlet-title line">
							<div class="caption">
								<i class="fa fa-bell-o"></i>دیدن خبر های بیشتر
							</div>
							<div class="tools">
								<a href="default.htm" class="collapse">
								</a>


							</div>
						</div>
						<div class="portlet-body" style="display: block;">
							<!--BEGIN TABS-->
							<div class="tabbable tabbable-custom">
								<ul class="nav nav-tabs">
									<li class="active">
										<a href="#tab_1_1" data-toggle="tab">
											rss های ثبت شده در سایت
										</a>
									</li>
{#									<li class="">#}
{#										<a href="#tab_1_2" data-toggle="tab">#}
{#											 Activities#}
{#										</a>#}
{#									</li>#}
{#									<li class="">#}
{#										<a href="#tab_1_3" data-toggle="tab">#}
{#											 Recent Users#}
{#										</a>#}
{#									</li>#}
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="tab_1_1">
										<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 290px;"><div class="scroller" style="height: 290px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible="0">
											<ul class="feeds">
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="label label-sm label-success">
																	<i class="fa fa-bell-o"></i>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	 خبر اول

																</div>
															</div>
														</div>
													</div>
													<div class="col2">
														<div class="date">
															هم اکنون
														</div>
													</div>
												</li>
												<li>
													<a href="#">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="label label-sm label-success">
																		<i class="fa fa-bell-o"></i>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		 خبر دوم
																	</div>
																</div>
															</div>
														</div>
														<div class="col2">
															<div class="date">
																20 دقیقه پیش
															</div>
														</div>
													</a>
												</li>


											</ul>
										</div><div class="slimScrollBar" style="background-color: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; left: 1px; height: 139.00826446280993px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(234, 234, 234); opacity: 0.2; z-index: 90; left: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>
									</div>
									<div class="tab-pane" id="tab_1_2">
										<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 290px;"><div class="scroller" style="height: 290px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1">
											<ul class="feeds">
												<li>
													<a href="#">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="label label-sm label-success">
																		<i class="fa fa-bell-o"></i>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		 New user registered
																	</div>
																</div>
															</div>
														</div>
														<div class="col2">
															<div class="date">
																 Just now
															</div>
														</div>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="label label-sm label-success">
																		<i class="fa fa-bell-o"></i>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		 New order received
																	</div>
																</div>
															</div>
														</div>
														<div class="col2">
															<div class="date">
																 10 mins
															</div>
														</div>
													</a>
												</li>
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="label label-sm label-danger">
																	<i class="fa fa-bolt"></i>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	 Order #24DOP4 has been rejected.
																	<span class="label label-sm label-danger ">
																		 Take action <i class="fa fa-share"></i>
																	</span>
																</div>
															</div>
														</div>
													</div>
													<div class="col2">
														<div class="date">
															 24 mins
														</div>
													</div>
												</li>
												<li>
													<a href="#">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="label label-sm label-success">
																		<i class="fa fa-bell-o"></i>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		 New user registered
																	</div>
																</div>
															</div>
														</div>
														<div class="col2">
															<div class="date">
																 Just now
															</div>
														</div>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="label label-sm label-success">
																		<i class="fa fa-bell-o"></i>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		 New user registered
																	</div>
																</div>
															</div>
														</div>
														<div class="col2">
															<div class="date">
																 Just now
															</div>
														</div>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="label label-sm label-success">
																		<i class="fa fa-bell-o"></i>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		 New user registered
																	</div>
																</div>
															</div>
														</div>
														<div class="col2">
															<div class="date">
																 Just now
															</div>
														</div>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="label label-sm label-success">
																		<i class="fa fa-bell-o"></i>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		 New user registered
																	</div>
																</div>
															</div>
														</div>
														<div class="col2">
															<div class="date">
																 Just now
															</div>
														</div>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="label label-sm label-success">
																		<i class="fa fa-bell-o"></i>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		 New user registered
																	</div>
																</div>
															</div>
														</div>
														<div class="col2">
															<div class="date">
																 Just now
															</div>
														</div>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="label label-sm label-success">
																		<i class="fa fa-bell-o"></i>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		 New user registered
																	</div>
																</div>
															</div>
														</div>
														<div class="col2">
															<div class="date">
																 Just now
															</div>
														</div>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="col1">
															<div class="cont">
																<div class="cont-col1">
																	<div class="label label-sm label-success">
																		<i class="fa fa-bell-o"></i>
																	</div>
																</div>
																<div class="cont-col2">
																	<div class="desc">
																		 New user registered
																	</div>
																</div>
															</div>
														</div>
														<div class="col2">
															<div class="date">
																 Just now
															</div>
														</div>
													</a>
												</li>
											</ul>
										</div><div class="slimScrollBar" style="background-color: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; left: 1px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(234, 234, 234); opacity: 0.2; z-index: 90; left: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>
									</div>
									<div class="tab-pane" id="tab_1_3">
										<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 290px;"><div class="scroller" style="height: 290px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1">
											<div class="row">
												<div class="col-md-6 user-info">
													<img alt="" src="assets/img/avatar.png" class="img-responsive">
													<div class="details">
														<div>
															<a href="#">
																 Robert Nilson
															</a>
															<span class="label label-sm label-success label-mini">
																 Approved
															</span>
														</div>
														<div>
															 29 Jan 2013 10:45AM
														</div>
													</div>
												</div>
												<div class="col-md-6 user-info">
													<img alt="" src="assets/img/avatar.png" class="img-responsive">
													<div class="details">
														<div>
															<a href="#">
																 Lisa Miller
															</a>
															<span class="label label-sm label-info">
																 Pending
															</span>
														</div>
														<div>
															 19 Jan 2013 10:45AM
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 user-info">
													<img alt="" src="assets/img/avatar.png" class="img-responsive">
													<div class="details">
														<div>
															<a href="#">
																 Eric Kim
															</a>
															<span class="label label-sm label-info">
																 Pending
															</span>
														</div>
														<div>
															 19 Jan 2013 12:45PM
														</div>
													</div>
												</div>
												<div class="col-md-6 user-info">
													<img alt="" src="assets/img/avatar.png" class="img-responsive">
													<div class="details">
														<div>
															<a href="#">
																 Lisa Miller
															</a>
															<span class="label label-sm label-danger">
																 In progress
															</span>
														</div>
														<div>
															 19 Jan 2013 11:55PM
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 user-info">
													<img alt="" src="assets/img/avatar.png" class="img-responsive">
													<div class="details">
														<div>
															<a href="#">
																 Eric Kim
															</a>
															<span class="label label-sm label-info">
																 Pending
															</span>
														</div>
														<div>
															 19 Jan 2013 12:45PM
														</div>
													</div>
												</div>
												<div class="col-md-6 user-info">
													<img alt="" src="assets/img/avatar.png" class="img-responsive">
													<div class="details">
														<div>
															<a href="#">
																 Lisa Miller
															</a>
															<span class="label label-sm label-danger">
																 In progress
															</span>
														</div>
														<div>
															 19 Jan 2013 11:55PM
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 user-info">
													<img alt="" src="assets/img/avatar.png" class="img-responsive">
													<div class="details">
														<div>
															<a href="#">
																 Eric Kim
															</a>
															<span class="label label-sm label-info">
																 Pending
															</span>
														</div>
														<div>
															 19 Jan 2013 12:45PM
														</div>
													</div>
												</div>
												<div class="col-md-6 user-info">
													<img alt="" src="assets/img/avatar.png" class="img-responsive">
													<div class="details">
														<div>
															<a href="#">
																 Lisa Miller
															</a>
															<span class="label label-sm label-danger">
																 In progress
															</span>
														</div>
														<div>
															 19 Jan 2013 11:55PM
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 user-info">
													<img alt="" src="assets/img/avatar.png" class="img-responsive">
													<div class="details">
														<div>
															<a href="#">
																 Eric Kim
															</a>
															<span class="label label-sm label-info">
																 Pending
															</span>
														</div>
														<div>
															 19 Jan 2013 12:45PM
														</div>
													</div>
												</div>
												<div class="col-md-6 user-info">
													<img alt="" src="assets/img/avatar.png" class="img-responsive">
													<div class="details">
														<div>
															<a href="#">
																 Lisa Miller
															</a>
															<span class="label label-sm label-danger">
																 In progress
															</span>
														</div>
														<div>
															 19 Jan 2013 11:55PM
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 user-info">
													<img alt="" src="assets/img/avatar.png" class="img-responsive">
													<div class="details">
														<div>
															<a href="#">
																 Eric Kim
															</a>
															<span class="label label-sm label-info">
																 Pending
															</span>
														</div>
														<div>
															 19 Jan 2013 12:45PM
														</div>
													</div>
												</div>
												<div class="col-md-6 user-info">
													<img alt="" src="assets/img/avatar.png" class="img-responsive">
													<div class="details">
														<div>
															<a href="#">
																 Lisa Miller
															</a>
															<span class="label label-sm label-danger">
																 In progress
															</span>
														</div>
														<div>
															 19 Jan 2013 11:55PM
														</div>
													</div>
												</div>
											</div>
										</div><div class="slimScrollBar" style="background-color: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; left: 1px; height: 219.01041666666669px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(234, 234, 234); opacity: 0.2; z-index: 90; left: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>
									</div>
								</div>
							</div>
							<!--END TABS-->
						</div>
					</div>
{% endblock %}