{% extends 'parent/base_parent.html' %}
{% load staticfiles %}
{% block content %}
<div class="container min-hight font">

	<div class="row">
       <div class="col-md-12 col-sm-12">
		 <div class="tabbable tabbable-custom">
		   <ul class="nav nav-tabs">
		     <li class="active"><a href="{% url 'myapp.views.best_news'%}" data-toggle="tab"> بهترین اخبار   </a></li>
		     <li><a href="{% url 'myapp.views.new_news'%}" data-toggle="tab">جدید ترین اخبار</a></li>
		   </ul>
			<div class="col-md-12 col-sm-12 blog-posts margin-bottom-40">

                    {% for i in list_news %}
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <img src="{% static 'img/news/2.jpg' %}" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-8 col-sm-8">
							<h2>    {{ i.Title_news }}   </h2>
							<ul class="blog-info">

								<li><i class="fa fa-calendar"></i> {{ i.Time_news }}</li>
                                 &nbsp;&nbsp; &nbsp;&nbsp;
								<li><a href="#"><i class="fa fa-plus" id="plus"></i></a>
                                                 &nbsp;&nbsp;
                                                 <i>{{ i.Num_view_news }}</i>
                                                 &nbsp;&nbsp;
                                                 <a href="#"><i class="fa fa-minus"></i></a></li>
							</ul>
							<p>
                                {{ i.Text_news }}
							</p>
							<div class="panel panel-default">
                               <div class="panel-heading">
                                  <h4 class="panel-title">
                                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">
                                    ادامه مطلب
                                     </a>
                                  </h4>
                               </div>
                               <div id="accordion1_2" class="panel-collapse collapse">
                                  <div class="panel-body">
                                      {{ i.Text_news_len }}
                                  </div>
                               </div>
                            </div>
                             <div class="panel panel-success">
                               <div class="panel-heading">
                                  <h4 class="panel-title">
                                     <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">
                                     نظرات
                                     </a>
                                  </h4>
                               </div>
                               <div id="accordion1_3" class="panel-collapse collapse">
                                  <div class="panel-body">
                                     <div class="media">
                                         <a href="#" class="pull-left">
                                             <img src="{% static 'img/people/amirmahdi2.jpg' %}" alt="" class="media-object">
                                         </a>
                                         <div class="media-body">
                                             <ul>
                                                 <i class="fa fa-pencil"> امیر مهدی</i>
                                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                 <a href="#"><i class="fa fa-plus"></i></a>
                                                 &nbsp;&nbsp;
                                                 <i>7</i>
                                                 &nbsp;&nbsp;
                                                 <a href="#"><i class="fa fa-minus"></i></a>
                                             </ul>

                                             <p>خاله جون تلاش کن سایت خوبی داشته باشی </p>
                                         </div>
                                     </div>
                                      <div class="media">
                                          <a href="#" class="pull-left">
                                              <img src="{% static 'img/people/images1.jpg' %}" alt="" class="media-object">
                                          </a>
                                          <div class="media-body">
                                               <ul>
                                                 <i class="fa fa-pencil"> زعفران</i>
                                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                 <a href="#"><i class="fa fa-plus"></i></a>
                                                 &nbsp;&nbsp;
                                                 <i>7</i>
                                                 &nbsp;&nbsp;
                                                 <a href="#"><i class="fa fa-minus"></i></a>
                                             </ul>
                                                     <p>هرچه می خواهد دل تنگت بگو </p>
                                          </div>
                                      </div>
                                      <hr>
                                      <div class="panel panel-warning">
                               <div class="panel-heading">
                                  <h4 class="panel-title">
                                     <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">
                                     افزودن نظر
                                     </a>
                                  </h4>
                               </div>
                               <div id="accordion1_4" class="panel-collapse collapse" style="height: 0px;">
                                  <div class="panel-body">
                                      <ol id="update" class="timeline">

                                      </ol>
                                      {{ mss }}
                                      <form class="form-horizontal" role="form" method="post" action="#" enctype="multipart/form-data" >
                                          {% csrf_token %}
                                          <div class="form-body">
                                              <div class="form-group">
                                                 <div class="col-md-12">
                                                     <input type="text" id="opinion" name="opinion" class="form-control input-lg" placeholder="نظر خود را وارد کنید...">
                                                 </div>
                                              </div>
                                          </div>
                                          <div class="form-actions right">
                                            <a href="#">  <button type="submit" id="submit" class="btn btn-link">ارسال نظر</button></a>
                                          </div>
                                      </form>
                                  </div>
                               </div>
                            </div>
                                  </div>
                               </div>
                             </div>

                 </div>
                    </div
                            >
                    <hr class="blog-post-sep">
                    {% endfor %}



                    </div>
                    <div class="text-center">
                        <ul class="pagination pagination-centered">
                            <li><a href="#">قبلی</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li ><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">بعدی</a></li>
                        </ul>
                    </div>

            </div>
         </div>
       </div>
    </div>
</div>
    </div>
{% endblock %}
{% block js %}
{#    <script type="text/javascript" src="jquery.js"></script>#}

    <script type="text/javascript">
    $(document).ready(function(){
        $("#submit").click(function(){
            var name = $("#opinion").val();
            var dataString = 'opinion='+ name;
            if(name==''){
                alert(" لطفا نظر خود را وارد کنید!");
            }
            else
            {
                $.post("news/opinion",{data: dataString,cache: false}, function(html){
                    $("ol#update").append(html);
                });
            }return false
        });
        $('#plus').click(function(){
            var num = {{ i.Num_view_news }}
            $.get('plus/news',{plus : num} , function(data){
                alert(data);
            });

        });
    });
</script>




{% endblock %}