{% extends 'parent/base_parent.html' %}
{% load staticfiles %}
{% block css %}
     <link href="{% static 'css/pages/prices-rtl.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}

<div class="container">
    <div class="row well">
        <form method="post" action="/search/pro">
                {% csrf_token %}
        <h4 class="col-md-3">   مشاهده محصولات بر اساس :   </h4>

        <div class="col-md-3"> قیمت

            <div class="input-group input-medium">
              <span class="input-group-addon">
                <div class="checker"><span class=""><input value="0" name="Price_c" type="checkbox"></span></div>
              </span>
              <input type="text" name="price_s" class="form-control" placeholder="قیمت بر حسب مثقال وارد کنید.">
            </div>
        </div>

        <div class="col-md-3"> نام
            <div class="input-group input-medium">
              <span class="input-group-addon">
                <div class="checker"><span class=""><input value="0" name="name_c" type="checkbox"></span></div>
              </span>
              <input type="text" name="name_s" class="form-control" placeholder="نام محصول را وارد کنید.">
            </div>
        </div>
        <input type="submit" class="btn blue"  value="مشاهده ">
        </form>
    </div>

    <div class="row ">

     <form action="/buy/pro" method="post" enctype="multipart/form-data">
        {% for i in list_pro %}

            {% csrf_token %}
        <div class="col-md-3 pull-right" style="float: right">
					<div class="pricing-table2">
						<h3>  {{ i.Name_pro }} </h3>
						<div class="desc">
							این محصول مربوط به فلان نمایندگی است.
						</div>
						<div class="rate">
							<div class="price">

								<div class="amount ">
									{{ i.Price_pro }}
								</div>
                                <div class="currency ">

								تومان
								</div>
							</div>
                            <a class="btn">
							<i class="glyphicon glyphicon-shopping-cart"></i>
                                <input type="submit" value="خرید" class="btn-default">
                                <input type="hidden" value="{{ i.id_pro }}" name="id_pro">

                            </a>

						</div>

						<ul>
							<li><i class="icon-angle-right"></i >قیمت هر مثقال :   <input type="text"  name="price1" class="input-xsmall" value="{{ i.Price_pro }}"></li>
{#                            {% with a = i.Price_pro %}#}
{#                      {% with  a =  a|div:4.7 %}#}
                            <li><i class="icon-angle-right"></i> قیمت هر گرم : &nbsp;&nbsp; <input  type="text" value="{{ i.Price_pro_g }}" class="input-xsmall"></li>
{#                            {% endwith %}{% endwith %}#}
							<li><i class="icon-angle-right"></i> قیمت هر کیلو : &nbsp;&nbsp;<input type="text" value="{{ i.Price_pro_k }}" class="input-xsmall"></li>
							<li><i class="icon-angle-right"></i> سطح کیفیت : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" class="input-xsmall" value="{{ i.State_pro }}"></li>
                             <li><img src="{% static 'img/news/1.jpg' %}" class="img-responsive"></li>
                            <li>	<p> میزان خرید <input class="input-xsmall" name="much" type="number">
                                    براساس <select name="typ">
                                        <option></option>
                                        <option value="مثقال">مثقال</option>
                                        <option value="گرم">گرم</option>
                                        <option value="کیلو">کیلو</option>
                                    </select>
                                </p></li>

						</ul>
					</div>
                    <hr>
				</div>

		<div class="spance10 visible-phone"></div>
        {% endfor %}
            </form>
    </div>

</div>

{% endblock %}